API_PUBLIC_KEY="<Turnkey API Public Key (that starts with 02 or 03)>"
API_PRIVATE_KEY="<Turnkey API Private Key>"
BASE_URL="https://api.turnkey.com"
ORGANIZATION_ID="<Turnkey organization ID>"
TON_ADDRESS="<existing TON address in your organization>"
TON_PUBLIC_KEY="<existing TON pubkey compressed matching your above address in your organization>"
ADAMIK_API_KEY="<get your API key from adamik.io>"
ADAMIK_API_BASE_URL="https://api.adamik.io"